/*NAVBAR*/
#menuButton {
    font-size: 36px; 
    color: white;
    cursor: pointer;
    z-index: 201;
    padding: 10px;
    font-size: 32px;
    position: fixed;
}

#menuButton.hidden {
    visibility: hidden;
}


#fullMenu.hidden {
    width: 0px;
    left: -400px;
}

#fullMenu {
    height: calc(100vh);
    background: rgb(28, 28, 28);
    position: fixed;
    transition: 1s;
    width: 100%;
    z-index: 200;
    display: flex;
    justify-content: center;
}

#openButton {
    position: absolute;
}

#closeButton {
    position: absolute;
    z-index: 300;
}

#openButton.hidden {
    display: none;
}

#closeButton.hidden {
    display: none;
}

#menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 44px;
}

#menuOptions h2 {
    color: #fff;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 94px;
    margin-top: 30px;
}

#menuOptions h2:hover {
    color: gray;
    transition: 1s;
}

.inlineDiv {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrowIcon {
    font-size: 54px;
    margin-right: 70px;
}

#homeIcon {
    color: rgb(220, 20, 60);
}

#homeIcon:hover {
    color: white;
    transition: 1s;
}

#aboutIcon {
    color: rgb(117,175,168); 
}

#aboutIcon:hover {
    color: white;
    transition: 1s;
}

#projectsIcon {
    color: rgb(217,180,73)
}

#projectsIcon:hover {
    color: white;
    transition: 1s;
}

#contactIcon {
    color: teal;
}

#contactIcon:hover {
    color: white;
    transition: 1s;
}

@media only screen and (max-width: 1200px) {
    #fullMenu {
        height: 100%;
    }

    #menuOptions h2 {
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 54px;
        margin-bottom: 30px;
    }

    #menuButton {
        position: absolute;
    }
}

@media only screen and (max-width: 700px) {
    #menuButton {
        position: absolute;
        font-size: 22px;
    }
}

/*HOME*/
.section1 {
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgb(28, 28, 28);
}

#overlay {
    width: 100%;
    height: 100%;
    background: rgba(29, 28, 28, 0.47);
    position: absolute;
}

#section1Content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    z-index: 1;
}

#section1Content p {
    font-size: 18px;
    line-height: 26px;
    max-width: 700px;
    padding: 0 5px;
    margin-bottom: 15px;
}

#section1Content p span {
    font-weight: bold;
}

@media only screen and (max-width: 660px) {

    #section1Content p {
        font-size: 14px;
        line-height: 22px;
        top: 250px;
    }
}

@media only screen and (max-height: 600px) {
    .section1 {
        height: 500px;
    }

    #section1Content p {
        font-size: 14px;
        line-height: 22px;
        top: 250px;
    }
}


/*PROJECTS*/
.section3 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(72, 72, 72);
    position: relative;
    z-index: 101;
}

#projectLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.workCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 100;
    background: rgb(72, 72, 72);
    padding: 20px;
    box-shadow: 5px 5px 12px rgb(28, 28, 28);
}

.workCard h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.workCard h2 i {
    padding-left: 20px;
}

.workCard img {
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.workCard p {
    max-width: 300px;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {

    .workCard img {
        object-fit: cover;
        width: 320px;
        height: 180px;
    }

}

@media only screen and (max-width: 360px) {

    .workCard img {
        object-fit: cover;
        width: 260px;
        height: 160px;
    }

}

/*CONTACT*/
.section4 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(28, 28, 28);
    position: relative;
    z-index: 101;
}

#section4Content {
    margin-top: 70px;
}

#section4Content h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

#section4Content form {
    color: rgb(28, 28, 28);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.inputRow {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.inputRow label {
    margin-bottom: 10px;
}

.inputRow input {
    outline: none;
    width: 500px;
    height: 26px;
}

.inputRow input:focus {
    outline: 1px solid crimson;
    background: rgba(235, 235, 235, 0.089);
}

.inputRow textarea {
    width: 800px;
    height: 200px;
    outline: none;
    resize: none;
    overflow: auto;
}

.inputRow textarea:focus {
    border: 1px solid crimson;
    background: rgba(235, 235, 235, 0.089);
}

#submitButton {
   background-color: rgb(117,175,168); 
   border-radius: 10px;
   padding: 10px;
   border: none;
   box-shadow: 1px 2px 2px gray;
}

#centerLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#emailIcon {
    color: rgb(217,180,73);
    font-size: 50px;
}

#resumeDiv {
    text-decoration: none;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resumeDiv p {
    text-decoration: none;
    text-emphasis: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

#section4UpArrow {
    color: crimson;
    align-self: flex-end;
    margin-right: 100px;
    cursor: pointer;
}

.section4 a {
    margin-bottom: 30px;
    color: rgb(117,175,168);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto Condensed',sans-serif;
}


@media only screen and (max-width: 1200px) {
    .section4 {
        height: auto;
    }

    #section4Content form {
        width: 500px;
    }

    #section4Content form input {
        width: 95%;
    }

    #section4Content form textarea {
        width: 95%;
    }
    
    #section4UpArrow {
        align-self: center;
        margin-right: 0;
    }

}

@media only screen and (max-width: 700px) {
    #section4Content form {
        width: 350px;
    }

    #section4Content form textarea {
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    #section4Content form {
        width: 300px;
    }
    
    #section4Content form textarea {
        width: 300px;
    }
}